.App {
    text-align: center;
}

.text-center {
    text-align: center;
}

.scene-area {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.scroll-section {
    display: block;
    overflow-x: scroll;
    scrollbar-width: none;
}

.scroll-section::-webkit-scrollbar {
    display: none;
}

.scroll-section img {
    height: 100vh;
    display: block;
}

.container-image {
    display: inline-block;
    position: relative;
}

.scene-area button {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    font-size: 18px;
}

.container-image button {
    background: #fff;
    border: 0;
    border-radius: 5px;
    padding: 4px 11px;
}


button.nav-control {
    background: #333;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 7px 10px;
}

button.nav-control.nav-left {
    left: 10px;
    transform: translateY(-50%) rotate(-90deg);
}

button.nav-control.nav-right {
    left: unset;
    right: 10px;
    transform: translateY(-50%) rotate(90deg);
}